fastapi
uvicorn
python-dotenv
langchain
langchain-ollama
langchain-community
langchain-huggingface
langchain-core
faiss-cpu
pypdf
sentence-transformers
pdf2image
pytesseract
Pillow
requests
sqlalchemy
aiosqlite
slowapi
python-multipart